.example-card {
  max-width: 100%;
  margin-bottom: 20px;
  transition: transform 0.2s ease-in-out;
}

.example-card:hover {
  transform: scale(1.05);
}

.example-header-image {
  background-size: cover;
}

.btn__profile {
  margin-left: 4rem;
  background-color: bisque;
}

mat-paginator {
  margin-top: 20px;
  width: 100%;
  display: flex;
  justify-content: center;
}
