.user-details {
  .example-card {
    max-width: 100%;
    padding: 2rem;

  }
  .mat-mdc-card-avatar {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    flex-shrink: 0;
    margin-bottom: 16px;
    object-fit: cover;
  }

  .example-header-image {
    background-size: cover;
  }
  button {
    background-color: bisque;
  }
}
@media screen and (max-width: 765px) {
  .example-card {
    padding-left: 30% !important;
  }
}
